#banner-article img{
  height: 400px;
  width: 100%;
}
#banner-article{
  width: 100%;
}
#banner-article img{
  position: relative;
  width: 100% ;
  z-index: -1;
}
#tulisan-banner{
  width: 100%;
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 100px;
}
#imaginary_container{
  margin: 20px 15px;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
.input-group input{
  border-radius: 0px;
  height: 40px;
  font-size: 18px;
}

/*================== konten ==================*/
.konten{
  position: relative;
  width: 100%;
  margin: 10px 0px;
  border: 1px solid #9e9c9c;
  height: 220px;
}
.konten:hover{
  position: relative;
  width: 100%;
  border: 1px solid #e63958;
  height: 220px;
}
.img-konten{
  position: absolute;
  width: 100%;
  top: 0
}
.img-konten img{
  width: 100%;
  height: 120px
}
#article{
  margin-top: 30px;
}
.text-konten{
  width: 100%;
  padding: 4px;
  position: absolute;
}
.text-konten a{
  text-decoration: none;
}
.penulis-konten{
  color: #e63958;
  position: absolute;
  top: 180px;
}
.judul-konten{
  color: #424242;
  position: absolute;
  top: 125px;
}
#artikel-populer{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #9e9c9c;
}
#artikel-populer a{
  text-decoration: none;
}
#artikel-populer a p:hover{
  color: #e63958 !important;
}
#artikel-populer p{
  font-size: 16px;
  color: #424242;

}
