
 /* @font-face {
 font-family: Nunitosans;
 src: url('fonts/NunitoSans-Regular.ttf') format('truetype');
 }*/

  body {
      font-size: 15px;
      /*font-family: Nunitosans;*/
      line-height: 1.3;
      background-color: #ffffff;
      color: #000000;
  }

  .form-control{
    border-radius: 0px !important;
  }


  .blacks{
    color: #000
  }
  .blues{
    color: #48829e;
  }
  .greeens{
    color: #00a693;

  }
  .trafood-color{
    color: #ec4848;
  }
  .pink-trafood{
    color: #e63958;
  }
  .whites{
    color: #fff;
  }

  .bg-trafood{
    background-color: #ec4848;
  }
  .orange{
    color: #f17000;
  }
  .abu{
    color: #424242
  }



.bottomleft {
    position: absolute;
    bottom: 0px;
    left: 147px;
    font-size: 14px;
  }
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #FFA500;
  }

  .bg-photo {
    padding: 0px;
    margin: 5px;
    border: 2px solid #cccccc;
    background-color: #ecf0f1;
  }
  .container-fluid {
      padding: 20px 90px;
  }
  .bg-grey {
      background-color: #424242;
  }
  .bg-cloud {
      background-color: #ecf0f1;
  }
  .bg-greens {
      padding-top: 3px;
      padding-bottom: 1px;
      background-color: #00a693;
  }

  .bg-white {
      background-color: #ffffff;
  }

  .navbar-rm .btns:hover {
      border: 1px solid #e63958;
      background-color: #e63958 !important;
      color: #fff;
  }
  .navbar-rm .btns {
      margin: 3px;
      border: 1px solid #e63958;
      background-color:  transparent;
      color: #e63958;
  }

  .button-transparent .btns:hover {
      border: 2px solid #e63958;
      background-color: #e63958 !important;
      color: #fff;
  }
  .button-transparent .btns {
      margin: 3px;
      border: 2px solid #fff;
      background-color:  transparent;
      color: #fff;
  }


  .btns{
    padding: 5px 20px 5px 20px;
  }
  .btns:hoover{
    padding: 5px 20px 5px 20px;
  }

  .button-download .btns:hover {
      border: 1px solid #ec4848;
      background-color: #ec4848 !important;
      color: #fff;
  }
  .button-download .btns {
      margin: 3px;
      border: 1px solid #e63958;
      background-color:  #e63958;
      color: #fff;
  }

  .btn-lte-pink {
      border: 1px solid #e63958;
      padding: 5px 0px;
      background-color:  #e63958;
      color: #fff;
  }
  .btn-lte-pink:hover {
      border: 1px solid #e63958;
      padding: 5px 0px;
      background-color:  #ec4848;
      color: #fff;
  }
  .btn-lte-white {
      border: 1px solid #e63958;
      background-color: #fff !important;
      padding: 5px 0px;
      color: #e63958;
  }
  .btn-lte-white:hover {
    border: 1px solid #e63958;
    padding: 5px 0px;
    background-color:  #e63958 !important;
    color: #fff;
  }

  .navbar-log .btns:hover {
      border: 2px solid #ec4848;
      background-color: #ec4848 !important;
      color: #fff;
  }
  .navbar-log .btns {
      margin: 1px;
      border: 2px solid #e63958;
      background-color:  #e63958;
      color: #fff;
  }

/* button buat paging */
  .btnpaging-active .bt:hover {
      border: 1px solid #ec4848;
      background-color: #fff !important;
      color: #ec4848;
  }
  .btnpaging-active .bt {
      margin: 1px;
      border: 1px solid #e63958;
      background-color:  #fff;
      color: #e63958;
  }
  .btnpaging-nonactive .bt:hover {
      border: 1px solid #424242;
      background-color: #fff !important;
      color: #424242;
  }
  .btnpaging-nonactive .bt {
      margin: 1px;
      border: 1px solid #000;
      background-color:  #fff;
      color: #000;
  }




  .navbar-btnnonactive .btns:hover {
      border: 3px solid #fff;
      background-color: #fff !important;
      color: #ec4848;
      font-style: bold;
  }
  .navbar-btnnonactive .btns {
      border: 3px solid #fff;
      background-color:  #fff;
      color: #000;
      font-style: bold;
  }

  .navbar-btnactive .btns:hover {
      border: 3px solid #fff;
      background-color: #fff !important;
      color: #ec4848;
      font-style: bold;
  }
  .navbar-btnactive .btns {
      border: 3px solid #fff;
      background-color:  #fff;
      color: #ec4848;
      font-style: bold;
  }


/* fit center kan  ini belum ada yang pake*/
  .thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }



/* center crop kan buat cover*/
.cover-photo{
  position: relative;
}
.center-cropped-cover {
  object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.center-cropped-user {
  object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 50px;
  position: absolute;
  z-index: 10;
}

.ambilfoto{
  z-index:20;
  position: relative;
  margin-right: 20px;
  margin-top: 200px;
}

.ambilfotoprofil{
  z-index:20;
  position: relative;
  margin-right: 10px;
  margin-top: 128px;
}

 .bg-likes{
    padding: 2px 5px 4px 3px;
    width: auto;
    opacity: 0.7;
    background-color: white;
    z-index:20;
    position: relative;
  }
.center-cropped-menu {
  object-fit: cover; 
  object-position: center;
  height: 130px;
  width: 100%;
  position: absolute;
  z-index: 10;
}

/* map di dashboard lokasi*/
#map {
    width: 100%;
    height: 400px;
}
/* dashboard statistik*/
.menu-statistik{
  margin-top: 20px;
}

.judul-statistik{
  margin-top: -10px !important;
}
.menu-statistik img{
  float: left;
}
.nama-menu{
  margin-left: 110px;
}
.clear-both{
  clear: both;
}
.border-right{
  border-right: 1px solid #999999;
}

.center-cropped-statistik {
  object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
  object-position: center; /* Center the image within the element */
  width: 100px;
  height: 60px;
  position: absolute;
  z-index: 10;
}
/* end of dashboard statistik*/
/* dashboard review */
.img-review img{
  margin: 10px;
  width: 70px;
  height: 70px;
}
.isi-review{
  margin-top: 20px !important;
}
.angka-review h1{
  margin-top: 0px !important;
}
/* end of dashboard review */

/* daftar kedai */
#judul-daftar{
  text-align: center;
}
.center-cropped-daftarkedai {
  object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: auto;
}
.btn-unggah{
  margin: 3px;
  border: 2px solid #b6b7b8;
  background-color:  transparent;
  color: #3e4243;
  padding: 10px;
}
.btn-unggah:hover{
  margin: 3px;
  border: 2px solid #ec4848 ;
  background-color:  #ec4848;
  color: #fff;
  padding: 10px;
}
/*end of daftar kedai*/

/* custom checkbox */

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #e63958;
  border-color: #e63958; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

/* end of checkbox */

/* login */
.border-black{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.garis-atau{
  margin-top: 10px;
}

.button-google{
  display: block;
  height: 40px;
  padding: 8px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border: 1px solid #9ea0a1;
}
.button-google:hover{
  background-color: #F5F5F5;
  display: block;
  height: 40px;
  padding: 8px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border: 1px solid #9ea0a1;
}
.button-google img{
  float: left;
  width: 20px;
  height: 20px;
}
.button-google p{
  color: black;
  margin-left: 10px;
  float: left;
  text-decoration: none;
}

.button-fb .btn{
  width: 100%;
  background-color: #437ca7;
  border-radius: 0px;
  height: 40px;
  color: #fff;
}
.button-fb .btn:hover{
  width: 100%;
  background-color: #40769e;
  border-radius: 0px;
  height: 40px;
  color: #fff;
}


/* end of login */

/*circle dot*/
.circle-dot{
  margin-top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e63958;
}
.titik-titik{
  margin-top: 50px;
  margin-bottom: 30px;
}
/*end of circle dot*/

/* text area pink*/
    .form-control:focus {
        border-radius: 0px !important;
        border-color: #e63958;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);

    }
/* end of text area pink */

/* faq */
#img-faq img{
  width: 100%;
  position: relative;
}

/* .kotak-faq{
  border: 1px solid #e63958;
  background-color: #fff;
} */
/* .kotak-faq:hover{
  border: 1px solid #e63958;
  background-color: #e63958;
  color: #fff;
} */
.kotak-faq a{
  border: 1px solid #e63958;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  display: block;
  padding: 50px 0px;
}
.kotak-faq a:hover, .kotak-faq a:focus{
  border: 1px solid #e63958;
  background-color: #e63958;
  color: #fff;
  text-decoration: none;
  display: block;
}
#container-menu-faq{
  margin-top: -60px;
  z-index: 2;
}
#img-faq{
  position: relative;
}
#img-faq h1{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 70px;
  z-index: 3;
  color: #424242;
}

.garis-pink {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e63958;
    margin: 1em 0;
    padding: 0;
}
/* end of faq*/
