<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="<?php echo base_url()?>dashboard">Home</a>
							</li>
							<li class="active">Data Pasien</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">
						<div class="page-header"> <!-- header -->
							<div class="pull-right">
								<!-- <input type="search" class='autocomplete nama' id="autocomplete1" name="nama_customer"/> -->
								<button type="button" class="btn btn-danger btn-xs waves-effect" id="keluar">X</button>
							</div>
							<h1 id="judul">
								Data Pasien
							</h1>
							
						</div><!-- /.page-header -->
								
								<div class="row">
									<div class="col-xs-12">
										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
				                    	<form class="form-horizontal" method="post" name="forms" id="forms">
				                    			<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Kode Pasien : </label>
													<div class="col-md-8">
														<strong><span id="kodebarang" style="margin-top: 10px;font-size: 17px;"></span></strong>
														<input type="text" name="kodepasien" id="kodepasien" hidden>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Nama Pasien </label>
													<div class="col-md-8">
														<input type="text" id="nama" name="nama" style="width: 100%;padding: 2px;" />
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Alamat </label>
													<div class="col-md-8">
														<input type="text" id="alamat" name="alamat" style="width: 100%;padding: 2px;" />
													</div>
												</div><div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Tanggal Lahir </label>
													<div class="col-md-8">
														<input type="text" id="tgllahir" name="tgllahir" style="width: 100%;padding: 2px;" />
													</div>
												</div><div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Jenis Kelamin </label>
													<div class="col-md-8">
														<select name="jk" id="jk" class="form-control">
															
														</select>
													</div>
												</div><div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Golongan Darah </label>
													<div class="col-md-8">
														<select name="goldar" id="goldar" class="form-control">
															
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Agama </label>
													<div class="col-md-8">
														<select name="agama" id="agama" class="form-control">
															
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> No Telepon </label>
													<div class="col-md-8">
														<input type="text" id="notelp" name="notelp" style="width: 100%;padding: 2px;" />
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Email </label>
													<div class="col-md-8">
														<input type="text" id="email" name="email" style="width: 100%;padding: 2px;" />
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Pekerjaan </label>
													<div class="col-md-8">
														<input type="text" id="pekerjaan" name="pekerjaan" style="width: 100%;padding: 2px;" />
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> No Identitas </label>
													<div class="col-md-8">
														<input type="text" id="noid" name="noid" style="width: 100%;padding: 2px;" />
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label no-padding-right" for="form-field-1-1" style="padding-top: 1px;"> Kategori </label>
													<div class="col-md-8">
														<select name="kategori" id="kategori" class="form-control">
															
														</select>
													</div>
												</div>
												
				                    	</form>  
				                    	<form id="bukanform" method="post"></form>
				                    	<div class="form-group">
											<center>
												<button class="btn btn-danger btn-xs" id="hapuss" >Delete</button> &nbsp;&nbsp;
												<button class="btn btn-primary btn-xs" id="simpan" >Simpan</button>
												<button class="btn btn-primary btn-xs" id="tambah" >Tambah</button>
											</center>
										</div>
									</div> <!-- /.col-xs-12 -->
								</div><!-- /.row --> 

					</div><!-- /.page-content -->